{% extends 'MyApp/padre.html' %}
{% block contenidoQueCambia %}

{% if user.id == otro.usuario.id %}
<div class="container" style="margin-top: 50px; margin-bottom: 20px;">
    <h4 class="text-center">Editar información sobre<br></h4>
    <h1 class="text-center">{{otro.nombre}}</h1>
</div>

<div class="container">
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <div class="container text-center">
                <button type="submit" class="btn btn-outline-dark" style="margin-bottom: 50px; margin-top: 10px; width: 200px;">Guardar</button>
            </div>
        </form>
    </div>    
</div>
{% else %}
<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        }
</style>
<div class="container text-center" style="margin-top: 300px; margin-bottom: 320px;">
    <h1>Mmm... No deberías estár en esta página</h1>
    <a href="{% url 'Inicio' %}" style="text-decoration: none;">Volver</a>
</div>
{% endif %}

{% endblock %}