{% extends 'MyApp/padre.html' %}
{% block contenidoQueCambia %}
<style>
    img {
    max-width: 300px;
    }
</style>
<br>
<br>
<div class="container text-center">
    {% if otro%}
        <h1 style="margin-bottom: 40px;">Videojuegos de Otro</h1>
    {% endif %}
</div>
<br>
<div class="container text-center">
    <div class="row">
            {% if otro%}
                {% for otro in otro %}
                <style>
                    footer {
                        margin-top: 150px;
                        width: 100%;
                }
                </style>
                <div class="col-sm-4 align-items-center">
                    <h4 style="color: rgb(64, 74, 83);">
                        {{otro.nombre}}
                    </h4>
                    <div class="card-body">
                        {% if otro.imagenVideojuego %}
                            <a href="{% url 'detalleOtro' otro.id %}"><img src="{{otro.imagenVideojuego.url}}" class="" width="250px" style="margin-bottom: 30px; border-radius: 30px; box-shadow: 20px 20px 40px #333;" onmouseover="this.style.transform='scale(1.05)';" onmouseleave="this.style.transform='scale(1)'"></a>
                        {% else %}
                            <a href="{% url 'detalleOtro' otro.id %}"><img src="/static/MyApp/assets/notfound.jpg" class="" width="250px" style="margin-bottom: 30px; border-radius: 30px; box-shadow: 20px 20px 40px #333;" onmouseover="this.style.transform='scale(1.05)';" onmouseleave="this.style.transform='scale(1)'"></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h1 class="container" style="margin-top: 282px; margin-bottom: 282px;">No hay juegos cargados para la categoría otro</p>
                <style>
                    footer {
                        position: fixed;
                        bottom: 0;
                        width: 100%;
                        }
                </style>
            {% endif %}
    </div>
</div>
{% endblock %}