{% extends 'MyApp/padre.html' %}
{% block contenidoQueCambia %}
<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        }
</style>
<div class="container text-center" style="margin-top: 300px;">
    <h1>Notificaciones</h1>
    <div class="container" style="margin-bottom: 20px;">
        <h4 class="text-center text-muted">No tenés notificaciones aún</h4>
    </div>
    <div class="container text-center">
        <a class="btn btn-outline-dark" style="width: 200px;" href="{% url 'Inicio' %}">Volver al inicio</a>
    </div>
</div>

{% endblock %}